<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-left" style="padding-top: 20px;">
                <a style="color: white;"><span style="font-family: 'Laila', serif;">monitu</span> ~ 2016</a>
            </div>
            <div class="col-md-6 text-center" style="padding-top: 20px;">
                <a href="#" style="color: white; margin-right: 16px;"><b><i class="fa fa-lg fa-pied-piper" aria-hidden="true"></i>Hakkında</b></a>
                <span style="color: white; margin-right: 16px;">¦</span>
                <a href="#" style="color: white; margin-right: 16px;"><b><i class="fa fa-lg fa-question-circle-o" aria-hidden="true"></i>SSS</b></a>
                <span style="color: white; margin-right: 16px;">¦</span>
                <a role="button" class="popovers" data-toggle="popover" title="Other Available Languages" data-placement="top" data-content="
                    <ul>
                        <li>English</li>
                    </ul>
                    <p>Bildiğiniz başka bir dil mi var? <a>hello</a></p>
                    " data-original-title="" style="color: white;"><b><i class="fa fa-lg fa-language" aria-hidden="true"></i>Use in another language</b></a>
            </div>
            <div class="col-md-3 text-right" style="padding-top: 20px;">
                <a role="button"
                   class="popovers"
                   data-toggle="popover"
                   title="Bir geliştirici olarak da yalnızca bir kullanıcı olarak da monitu'ya destek olabilirsiniz."
                   data-placement="top"
                   data-html="true"
                   data-original-title="hello 1-2-3"
                   style="color: white;"
                   data-content="<div>
                       <p><i class='fa fa-fw fa-github' aria-hidden='true'></i><b>monitu geliştiricilerine bir kahve ısmarla!</b></p>
                       <p>Kahve ısmarlayarak bir teşekkür edebilir, geliştiricilere motivasyon sağlayabilirsin.</p>
                       <p><i class='fa fa-fw fa-coffee' aria-hidden='true'></i> bsdf</p>
                   </div>">
                   <b><i class="fa fa-lg fa-cubes" aria-hidden="true"></i>Bir parçası ol!</b>
                </a>
            </div>
        </div>
    </div>
</footer>

